html{
	width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Raleway', sans-serif;
	line-height: 1;
	color: #333333;
	font-size: 14px;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:active, a:focus {
	outline: none; 
}
button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
.header{
	background: url(../img/logo.jpg) no-repeat center top / cover;
	height: 100vh;
}
header .head{
	margin-top: 40px;
}
header .menu {
	margin-top: 63px;
}
header .menu a{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #fff;
	text-decoration: none;
	margin-left: 25px;
	cursor: pointer;
}
header .menu a:hover{
	color: #c7b299;
	transition: all 0.5s ease;
}
header .shop{
	margin-top: 60px;
}
header .shop a{
	margin-right: 15px;
	font-size: 14px;
	color: #fff;
}
header .shop a:hover{
	color: #c7b299;
}
/* header .shop-mobille{
	display: block;
} */
header .left{
	margin-top: 250px;
	font-size: 50px;
	color: #9f9e9c;
}
header .right{
	margin-top: 250px;
	font-size: 50px;
	color: #9f9e9c;
}
header .left :hover{
	color: rgba(255,255,255,0.1);
	transition: all 0.5s ease;
	cursor: pointer;
}
header .right :hover{
	color: rgba(255,255,255,0.1);
	transition: all 0.5s ease;
	cursor: pointer;
}
.h2{
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	color: #fff;
	font-weight: 400;
	text-align: center;
}
.h1{
	font-family: 'Raleway', sans-serif;
	font-size: 51px;
	font-weight: 800;
	color: #fff;
	text-align: center;
}
.h3{
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 30px;
}
.h4{
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-weight: 600;
}
.h5{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 20px;
}
.h6{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 12px;
}
.p{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
}
.btn, .grad_btn{
	background: #998675;
	color: #fff;
	border-radius: 5px;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	border-bottom: 2px solid #736357;
	cursor: pointer;
	margin-top: 50px;
}
.btn:hover{
	background:  #736357;
	border-bottom: 2px solid #998675;
	transition: all 0.5s ease;
}
.line{
	width: 70px;
	height: 5px;
	background: #F1EEE9;
	margin: 33px auto 0;
}
header .paragraph{
	margin-top: 117px;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
}
header .paragraph p{
	width: 550px;
	margin: 0 auto;
	margin-bottom: 50px;
}
header .doted ul{
	justify-content: center;
	margin-top: 75px;
}
header .doted li{
	width: 11px;
	height: 11px;
	background: #908E8F;
	border-radius: 100%;
	margin-left: 10px;
	margin-top: 50px;
}
header .doted li:hover{
	background: transparent;
	border: 1px solid #fff;	
	width: 14px;
	height: 14px;
	transition: all 0.5s ease;
	cursor: pointer;
}
section.about .custom_container{
	display: flex;
}
section.about .custom{
	width: 255px;
	height: 180px;
	text-align: center;
	color: #555555;
	margin-bottom: 250px;
}
section.about .custom i.fas{
	font-size: 40px;
	margin-top: 80px;
	margin-bottom: 30px;
}
section.about .custom:hover{
	color: #C7B299;
	cursor: pointer;
}
section.about .custom:hover .p{
	color: #555;
}
section.about .custom_center{
	max-width: 760px;
	text-align: center;
	margin: 0 auto;
}
section.about .img_box img{
	width: 100%;
    margin: 45px auto 0;
}
section .gradient {
	background: rgba(46,13,9,1);
	background: -moz-linear-gradient(left, rgba(46,13,9,1) 0%, rgba(97,71,28,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(46,13,9,1)), color-stop(100%, rgba(97,71,28,1)));
	background: -webkit-linear-gradient(left, rgba(46,13,9,1) 0%, rgba(97,71,28,1) 100%);
	background: -o-linear-gradient(left, rgba(46,13,9,1) 0%, rgba(97,71,28,1) 100%);
	background: -ms-linear-gradient(left, rgba(46,13,9,1) 0%, rgba(97,71,28,1) 100%);
	background: linear-gradient(to right, rgba(46,13,9,1) 0%, rgba(97,71,28,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e0d09', endColorstr='#61471c', GradientType=1 );
	margin-top: -3px;
}
section .gradient .grad_left{
	margin-top: 50px;
	margin-bottom: 50px;
}
section .gradient .grad_left span{
	color: #C7B299;
	font-weight: 300;
}
section .gradient .grad_left h3{
	color: #fff;
	font-weight: 300;
}
section .gradient .grad_left p{
	color: #615855;
}
section .gradient .grad_right .grad_btn{
	margin: 50% auto;
	padding: 10px;
	border: none;
}
section .gradient .grad_right .grad_btn:hover{
	background:  #736357;
	transition: all 0.5s ease;
}
section.latest_progekt .text{
	text-align: center;
	margin-bottom: 40px;
}
section.latest_progekt .text .h4{
	margin-top: 80px;
	font-weight: 600;
	font-size: 30px;
}
section.latest_progekt .box_button{
	text-align: center;
}
section.latest_progekt .btn_category{
    background: #fff;
    border: 1px solid #ccc;
    color: #8C8C8C;
    font-weight: 300;
    margin-left: 10px;
    margin-bottom: 40px;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
}
section.latest_progekt .btn_category:hover{
	background-color: #998675;
	color: #fff;
	cursor: pointer;
	transition: all 0.5s ease;
	border-color: #998675;
}
section.latest_progekt a .btn_custom:hover{
	background: #998675;
	color: #fff;
	transition: all 0.5s ease;
}
section.latest_progekt .custom_container{
	display: flex;
	flex-flow: row wrap;
    justify-content: center;
}
section.latest_progekt .custom_container .custom{
	width: 350px;
	height: 330px;
	margin-left: 20px;
	margin-bottom: 30px;
	background-color: #fbfaf8;
}
section.latest_progekt .custom_container .custom img{
	width: 350px;
	height: auto;
}
section.latest_progekt .custom_container .custom h5{
	color: #c7b299;
	margin-top: 30px;
	margin-left: 30px;
}
section.latest_progekt .custom_container .custom p{
	color: #d1d1d1;
	margin-bottom: 30px;
	margin-left: 30px;
}
section.latest_progekt .custom_container .custom:hover{
	background-color: #362F2D;
	transition: all 0.5s ease;
}
section.latest_progekt .button{
	margin-bottom: 80px;
	text-align: center;	
}
section.latest_progekt .button .btn_custom{
	background: #998675;
	color: #fff;
	border-radius: 5px;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	border-bottom: 2px solid #736357;
	cursor: pointer;
	padding: 10px;
	font-size: 16px;
	border: none;
	border-bottom: 2px solid #998675;
}
section.latest_progekt .button .btn_custom:hover{
	background:  #736357;
	transition: all 0.5s ease;
}
section.latest_progekt .custom_container .custom .mask{
	width: 350px;
	height: auto;
	position: absolute;
}
section.video{
	background: url(../img/video.jpg) no-repeat center top / cover;
}
section.video .text{
	color: #fff;
	text-align: center;
	margin-top: 290px;
	margin-bottom: 200px;
}
section.video .text a{
	color: #fff;
	font-size: 100px;
}
section.video .text i.far{
	margin-bottom: 40px;
}
section.video .text h5{
	margin-bottom: 30px;
}
section.video .text p{
	width: 550px;
	margin: 0 auto 40px;

}
section.video .text .time{
	color: #C7B299;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
section.devices .flex_box{
	display: flex;
}
section.devices .flex_box{
	display: flex;
}
section.devices .flex_box .img_container{
	margin-top: 80px;
}
section.devices .flex_box .text{
	margin-top: 200px;
}
section.devices .flex_box .text h5{
	font-weight: 600;
	color: #555555;
	margin-bottom: 40px;
}
section.devices .flex_box .text p{
	margin-bottom: 40px;
	color: #8C8C8C;
}
section.devices .flex_box .text .item li{
	margin-bottom: 20px;
	color: #8C8C8C;
	margin-left: 50px;
}section.devices .flex_box .text .item li span{
	margin-left: 30px;
}
section.devices .flex_box .text .item i.fas{
	color: #fff;
	background: #C7B299;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	padding: 3px 6px;
}
section.progress_bar{
	background: rgba(46,13,9,1);
background: -moz-linear-gradient(left, rgba(46,13,9,1) 0%, rgba(97,71,28,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(46,13,9,1)), color-stop(100%, rgba(97,71,28,1)));
background: -webkit-linear-gradient(left, rgba(46,13,9,1) 0%, rgba(97,71,28,1) 100%);
background: -o-linear-gradient(left, rgba(46,13,9,1) 0%, rgba(97,71,28,1) 100%);
background: -ms-linear-gradient(left, rgba(46,13,9,1) 0%, rgba(97,71,28,1) 100%);
background: linear-gradient(to right, rgba(46,13,9,1) 0%, rgba(97,71,28,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e0d09', endColorstr='#61471c', GradientType=1 );
	margin-top: -2px;
}
section.progress_bar .col-fourth{
	text-align: center;
	width: 23.5%;
}
section.progress_bar .col-fourth{
	position: relative;
	margin: 70px auto 60px;
	color: #fff;
}
section.progress_bar .col-fourth i.fas{
	font-size: 35px;
	color: #C7B299;
	margin-bottom: 30px;
}
section.progress_bar .col-fourth h2{
	font-size: 48px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	margin-bottom: 18px;
}
section.progress_bar .col-fourth .line{
	width: 30px;
	height: 3px;
	color: #fff;
	margin-top: 30px;
}
section.progress_bar .col-fourth p{
	color: #C7B299;
	text-transform: uppercase;
}
/*section.progress_bar .end{
	margin-right: 0 !important;
}*/
section.posts .text{
	text-align: center;
	margin-bottom: 40px;
}
section.posts .text .h4{
	margin-top: 80px;
	font-weight: 600;
	font-size: 30px;
}
section.posts .custom_container{
	display: flex;
	flex-flow: row wrap;
    justify-content: center;
}
section.posts .custom_container .custom{
	width: 350px;
	height: auto;
	margin-left: 20px;
	margin-bottom: 30px;
	background-color: #fbfaf8;
}
section.posts .custom_container .custom a{
	color: #C7B299;
	text-decoration: none;
	margin-left: 30px;
	display: block;
	margin-left: 0;
	padding: 30px;

}
section.posts .custom_container .custom i.fas{
	color: #C7B299;
	margin-left: 20px;
	margin-bottom: 30px;
}
section.posts .custom_container .custom img{
	width: 350px;
	height: auto;
}
section.posts .custom_container h5{
	color: #c7b299;
	margin-top: 30px;
	margin-left: 30px;
}
section.posts .custom_container .custom p{
	color: #d1d1d1;
	margin-left: 30px;
}
section.posts .custom_container .custom:hover{
	background-color: #362F2D;
	transition: all 0.5s ease;
}
section.posts .custom_container .custom .mask{
	width: 350px;
	height: auto;
	position: absolute;
}
section.posts .icon{
	text-align: center;
	font-size: 25px;
	margin-bottom: 80px;
}
section.posts .icon a{
	color: #C7B299;
}
section.posts .icon a:hover{
	color: #D1D1D1;
}
section.client{
	background: url(../img/client.jpg) no-repeat center / cover;
}
section.client .logo {
	margin: 140px auto;
}
section.client .logo img{
	margin-left: 50px;
}
footer.footer{
	background: #191919;
}
footer .footer_flex{
	display: flex;
}
footer.footer .fotter_box img{
	margin: 80px 0 30px;
}
footer.footer .fotter_box p{
	color: #555555;
}
footer.footer .fotter_box a{
	color: #fff;
	text-decoration: none;
	display: block;
	margin-top: 30px;
}
footer.footer .fotter_box i.fas{
	margin-left: 20px;
}
footer.footer .fotter_box .boxed{
	border-bottom: 1px solid #555555;
}
footer.footer .boxed .h4{
	color: #fff;
	font-weight: 800;
	margin-top: 106px;
	font-size: 24px;
	margin-bottom: 30px;
}
footer.footer .boxed{
	margin-top: 20px;
}
footer.footer .boxed .h6{
	color: #363636;
}
footer.footer .boxed p{
	margin-bottom: 20px;
}
footer.footer .boxed.white h6{
	color: #fff;
}
footer.footer .boxed.white p{
	color: #fff;
}
footer.footer .boxed.two span{
	color: #959595;
}
footer.footer .boxed.two a{
	color: #00BFF3;
	display: inline-block;
	margin-top: 0;
}
footer.footer .boxed.two h6{
	margin-top: -13px;
} 
footer.footer .footer_box .h4{
	margin-top: 106px;
	color: #fff;
	font-weight: 800;
	margin-top: 106px;
	font-size: 24px;
	margin-bottom: 30px;
}
footer.footer .footer_box{
	margin-bottom: 80px;
}
footer.footer .bottom{
	background: #111111;
	height: 110px;
}
footer.footer .bottom .footer_p{
	margin-top: 45px;
}
footer.footer .bottom .footer_p a{
	color: #555555;
	text-decoration: none;
}
footer.footer .bottom .footer_p a:hover{
	color: #fff;
}


